@{
    ViewData["title"] = "Category Creation Page";
}

<div>
    <form method="post">
        <p>
            <label>Name: </label>
            <input type="text" name="Name" />
        </p>
    </form>
</div>