

@{
    ViewData["title"] = "Order Creation Page";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col"></div>

        <div class="col text-center">
            <h1>Order Creation</h1>
        </div>

        <div class="col"></div>
    </div>

    <div class="row align-items-start">
        <div class="col">
            <h3 class="text-center">Order</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Contents</th>
                        <th>Unit</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="col">
            <h3 class="text-center">Assortment</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Contents</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var item in collection)
                    {
                        
                    } *@
                </tbody>
            </table>
        </div>
    </div>
</div>