@{
    ViewData["title"] = "Branch Overview Page";
}

<div id="ProductOverview">
    <button>+</button>
    <table id="ProductTable">
        <tr>
            <th><input placeholder="Name" /><button>&#8639;</button></th>
            <th><input placeholder="Address" /><button>&#8643;</button></th>
        </tr>
        <tr>
            <td>Plus</td>
            <td>Kruidenlaan 159, 5803 BV Venray</td>
        </tr>
        <tr>
            <td>Albert Heijn</td>
            <td>Raadhuisstraat 100, 5801 MA Venray</td>
        </tr>
    </table>
    <button>&lt;</button>
    <button>&gt;</button>
</div>