@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-black">
    <div class="row m-3">
        <h1>This is my application ProductManager.</h1>
        <h3>With this application you can:</h3>
        <p>
            <h3>- Create, Update and Delete Categories -</h3>
            <span>Categories can be added to multiple Products. Categories must have Unique names.</span>
        </p>

        <p>
            <h3>- Create, Update and Delete Products -</h3>
            <span>Products can be added to assortments of multiple branches.</span>
        </p>

        <p>
            <h3>- Create, Update and Delete Branches -</h3>
            <span>Branches can be added to *orders - Coming Soon*</span>
        </p>

        <p>
            <h3>- Create and Update Assortments of existing Branches -</h3>
            <span>A Branch can only have 1 Assortment. Assortments are a list of Products and stock within a certain Branch.</span>
        </p>
    </div>

    <div class="row m-3 text-danger">
        <h3 class="text-black-50">------------------------------------------------------------------------------------------------------------</h3>
        <h2 class="text-black">Coming Soon:</h2>

        <p>
            <h3>- Create, Update and Delete Customers -</h3>
            <span>Customers can *place* Orders by certain Branches. Here they can select Products from the Branch's Assortment. Customers must have Unique names.</span>
        </p>

        <p>
            <h3>- Create Orders -</h3>
            <span>Customers can select a certain Branch and create an Order using the Branch's Assortment.</span>
        </p>
    </div>
</div>
