@{
    ViewData["title"] = "Product Overview Page";
}

<div id="ProductOverview">
    <button>+</button>
    <table id="ProductTable">
        <tr>
            <th><input placeholder="Naam" /><button>&#8639;</button></th>
            <th><input placeholder="Merk" /><button>&#8643;</button></th>
            <th>Prijs</th>
            <th>Inhoud</th>
            <th>Eenheid</th>
        </tr>
        <tr>
            <td>Appel</td>
            <td>Jonagold</td>
            <td>€2,50</td>
            <td>1</td>
            <td>per stuk</td>
        </tr>
        <tr>
            <td>Banaan</td>
            <td>Chiquita</td>
            <td>€2,75</td>
            <td>100</td>
            <td>gram</td>
        </tr>
    </table>
    <button>&lt;</button>
    <button>&gt;</button>
</div>