@{
    ViewData["title"] = "Product Creation Page";
}

<div>
    <form method="post">
        <p>
            <label>Name: </label>
            <input type="text" name="Name" value=""/>
        </p>
        <p>
            <label>Brand: </label>
            <input type="text" name="Brand" />
        </p>
        <p>
            <label>Category: </label>
            <input type="text" name="Category" />
        </p>
        <p>
            <label>Price: </label>
            <input type="text" name="Price" />
        </p>
        <p>
            <label>Contents: </label>
            <input type="text" name="Contents" />
        </p>
        <p>
            <label>Unit: </label>
            <input type="text" name="Unit" />
        </p>
        <p>
            <input type="submit" name="Submit" value="Submit"/>
        </p>
    </form>
</div>

@{
    
}