@using ProductManager.Core

@{
    ViewData["title"] = "Product Creation Page";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col"></div>

        <div class="col text-center">
            <h1>Product Creation</h1>

            <form method="post">
                <div class="row">
                    <div class="col">
                        <div class="row m-2">
                            <div class="col">Name: </div>
                            <div class="col"><input type="text" name="Name" required/></div>
                        </div>
                        <div class="row m-2">
                            <div class="col">Brand: </div>
                            <div class="col"><input type="text" name="Brand" required /></div>
                        </div>
                        <div class="row m-2">
                            <div class="col">Category: </div>
                            <div class="col">
                                <select name="CategoryName">
                                    <option value="" selected>...</option>
                                    @if (ViewBag.Categories != null)
                                    {
                                        foreach (string category in ViewBag.Categories)
                                        {
                                            <option value="@category">@category</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col">Price: </div>
                            <div class="col"><input type="text" name="Price" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" required /></div>
                        </div>
                        <div class="row m-2">
                            <div class="col">Contents: </div>
                            <div class="col"><input type="text" name="Contents" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required /></div>
                        </div>
                        <div class="row m-2">
                            <div class="col">Unit: </div>
                            <div class="col">
                                <select name="Unit" required>
                                    <option value="" selected>...</option>
                                    @foreach (Unit unit in Enum.GetValues(typeof(Unit)))
                                    {
                                        <option value="@unit">@unit</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col"></div>
                    <div class="col">
                        <input type="submit" name="Submit" value="Submit" />
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>

        <div class="col"></div>
    </div>
</div>